{
	"openapi": "3.0.1",
	"info": {
		"title": "Flashquotes API",
		"description": "API for managing events and bookings in Flashquotes",
		"license": {
			"name": "MIT"
		},
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "https://app.flashquotes.com/"
		}
	],
	"security": [
		{
			"apiKeyAuth": []
		}
	],
	"paths": {
		"/api/event/getEventData/{event_id}": {
			"get": {
				"description": "Returns detailed information about a specific event",
				"parameters": [
					{
						"name": "event_id",
						"in": "path",
						"description": "ID of event to retrieve",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Event data response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Event"
								},
								"example": {
									"id": "evt_123",
									"clientName": "John Smith",
									"clientEmail": "john.smith@example.com",
									"clientPhone": "555-123-4567",
									"siteContactName": "Jane Doe",
									"siteContactPhone": "555-987-6543",
									"eventDescription": "Corporate Team Building Event",
									"eventAddress": "123 Business Ave, Suite 100, New York, NY 10001",
									"additionalLocationInfo": "Enter through the main lobby. Security will direct you to the conference room.",
									"specialNotes": null,
									"parkingLoadingInfo": "Parking available in the underground garage",
									"serviceStartTime": "2025-04-15T14:00:00.000Z",
									"serviceEndTime": "2025-04-15T17:00:00.000Z",
									"staffNumber": 2,
									"resourceNumber": 1,
									"companyId": "comp_456",
									"locationId": "loc_789",
									"createdAt": "2025-03-20T10:00:00.000Z",
									"updatedAt": "2025-03-25T15:30:00.000Z",
									"deletedAt": null,
									"staffDressCode": "Business Casual",
									"customData": null,
									"multiDay": false,
									"bookingId": "book_101",
									"guestCount": 50,
									"loadingTime": 30,
									"setupTime": 60,
									"breakdownTime": 45,
									"unloadingTime": 30,
									"shiftStartTime": "2025-04-15T12:00:00.000Z",
									"shiftEndTime": "2025-04-15T19:00:00.000Z",
									"specialPrepTime": 0,
									"travelToEventTime": 45,
									"travelFromEventTime": 45,
									"tipJarAllowed": false,
									"outdoors": false,
									"location": {
										"id": "loc_789",
										"name": "Downtown Office",
										"streetAddress": "123 Business Ave",
										"city": "New York",
										"state": "New York",
										"zip": "10001",
										"timeZone": "America/New_York",
										"lng": null,
										"lat": null,
										"createdAt": "2023-01-01T00:00:00.000Z",
										"updatedAt": "2024-01-01T00:00:00.000Z",
										"companyId": "comp_456",
										"defaultTaxRateId": null,
										"defaultEmailConnectionId": null,
										"color": "blue"
									},
									"resources": [
										{
											"id": "res_111",
											"name": "Coffee Cart",
											"description": "Mobile coffee service cart",
											"imageUrl": null,
											"createdAt": "2024-01-01T00:00:00.000Z",
											"updatedAt": "2024-01-01T00:00:00.000Z",
											"companyId": "comp_456",
											"locationId": "loc_789",
											"status": "Available",
											"category": "CORE",
											"eventCount": 0
										}
									],
									"staff": [
										{
											"id": "staff_222",
											"firstName": "Alice",
											"lastName": "Johnson",
											"email": "alice.johnson@example.com",
											"phone": "555-111-2222",
											"role": "Barista",
											"status": "Active",
											"createdAt": "2024-01-01T00:00:00.000Z",
											"updatedAt": "2024-01-01T00:00:00.000Z",
											"companyId": "comp_456"
										}
									],
									"addons": [],
									"booking": {
										"id": "book_101",
										"entityToInvoice": "John Smith",
										"fullName": "John Smith",
										"email": "john.smith@example.com",
										"phone": "5551234567",
										"paymentMethod": "Stripe",
										"billingNotes": null,
										"paymentIntentId": null,
										"stripeCustomerId": "cus_example123",
										"paymentMethodId": "pm_example456",
										"setupIntentId": "seti_example789",
										"totalPrice": 750.0,
										"totalPriceCents": 75000,
										"cardOnFile": true,
										"gratuity": 125.0,
										"gratuityAmountCents": 12500,
										"companyId": "comp_456",
										"createdAt": "2025-03-20T10:00:00.000Z",
										"updatedAt": "2025-03-25T15:30:00.000Z",
										"deletedAt": null,
										"leadId": "lead_333"
									},
									"eventBriefId": "brief_444",
									"eventBriefUrl": "https://app.flashquotes.com/event-briefs/brief_444"
								}
							}
						}
					},
					"404": {
						"description": "Event not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"example": {
									"message": "Event not found"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Invalid API key",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										}
									}
								},
								"example": {
									"message": "Invalid API key"
								}
							}
						}
					}
				}
			}
		},

		"/api/event/get-events": {
			"get": {
				"description": "Returns events within a specified date range",
				"parameters": [
					{
						"name": "event_starts_after",
						"in": "query",
						"description": "Start of date range in ISO 8601 format with timezone offset (e.g., 2024-12-19T23:59:00-07:00)",
						"required": true,
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "event_starts_before",
						"in": "query",
						"description": "End of date range in ISO 8601 format with timezone offset (e.g., 2024-12-19T23:59:00-07:00)",
						"required": true,
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "location_id",
						"in": "query",
						"description": "Optional filter for specific location",
						"required": false,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "List of events in the specified date range",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"event": {
												"type": "array",
												"items": {
													"$ref": "#/components/schemas/Event"
												}
											}
										}
									}
								},
								"example": [
									{
										"event": [
											{
												"id": "evt_123",
												"clientName": "John Smith",
												"clientEmail": "john.smith@example.com",
												"clientPhone": "555-123-4567",
												"siteContactName": "Jane Doe",
												"siteContactPhone": "555-987-6543",
												"eventDescription": "Corporate Team Building Event",
												"eventAddress": "123 Business Ave, Suite 100, New York, NY 10001",
												"additionalLocationInfo": "Enter through the main lobby. Security will direct you to the conference room.",
												"specialNotes": null,
												"parkingLoadingInfo": "Parking available in the underground garage",
												"serviceStartTime": "2025-04-15T14:00:00.000Z",
												"serviceEndTime": "2025-04-15T17:00:00.000Z",
												"staffNumber": 2,
												"resourceNumber": 1,
												"companyId": "comp_456",
												"locationId": "loc_789",
												"createdAt": "2025-03-20T10:00:00.000Z",
												"updatedAt": "2025-03-25T15:30:00.000Z",
												"deletedAt": null,
												"staffDressCode": "Business Casual",
												"customData": null,
												"multiDay": false,
												"bookingId": "book_101",
												"guestCount": 50,
												"loadingTime": 30,
												"setupTime": 60,
												"breakdownTime": 45,
												"unloadingTime": 30,
												"shiftStartTime": "2025-04-15T12:00:00.000Z",
												"shiftEndTime": "2025-04-15T19:00:00.000Z",
												"specialPrepTime": 0,
												"travelToEventTime": 45,
												"travelFromEventTime": 45,
												"tipJarAllowed": false,
												"outdoors": false,
												"location": {
													"id": "loc_789",
													"name": "Downtown Office",
													"streetAddress": "123 Business Ave",
													"city": "New York",
													"state": "New York",
													"zip": "10001",
													"timeZone": "America/New_York",
													"lng": null,
													"lat": null,
													"createdAt": "2023-01-01T00:00:00.000Z",
													"updatedAt": "2024-01-01T00:00:00.000Z",
													"companyId": "comp_456",
													"defaultTaxRateId": null,
													"defaultEmailConnectionId": null,
													"color": "blue"
												},
												"resources": [
													{
														"id": "res_111",
														"name": "Coffee Cart",
														"description": "Mobile coffee service cart",
														"imageUrl": null,
														"createdAt": "2024-01-01T00:00:00.000Z",
														"updatedAt": "2024-01-01T00:00:00.000Z",
														"companyId": "comp_456",
														"locationId": "loc_789",
														"status": "Available",
														"category": "CORE",
														"eventCount": 0
													}
												],
												"staff": [
													{
														"id": "staff_222",
														"firstName": "Alice",
														"lastName": "Johnson",
														"email": "alice.johnson@example.com",
														"phone": "555-111-2222",
														"role": "Barista",
														"status": "Active",
														"createdAt": "2024-01-01T00:00:00.000Z",
														"updatedAt": "2024-01-01T00:00:00.000Z",
														"companyId": "comp_456"
													}
												],
												"addons": [],
												"booking": {
													"id": "book_101",
													"entityToInvoice": "John Smith",
													"fullName": "John Smith",
													"email": "john.smith@example.com",
													"phone": "5551234567",
													"paymentMethod": "Stripe",
													"billingNotes": null,
													"paymentIntentId": null,
													"stripeCustomerId": "cus_example123",
													"paymentMethodId": "pm_example456",
													"setupIntentId": "seti_example789",
													"totalPrice": 750.0,
													"totalPriceCents": 75000,
													"cardOnFile": true,
													"gratuity": 125.0,
													"gratuityAmountCents": 12500,
													"companyId": "comp_456",
													"createdAt": "2025-03-20T10:00:00.000Z",
													"updatedAt": "2025-03-25T15:30:00.000Z",
													"deletedAt": null,
													"leadId": "lead_333"
												},
												"eventBriefId": "brief_444",
												"eventBriefUrl": "https://app.flashquotes.com/event-briefs/brief_444"
											}
										]
									}
								]
							}
						}
					},
					"400": {
						"description": "Invalid request parameters",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"error": {
											"type": "string"
										},
										"details": {
											"oneOf": [
												{
													"type": "string"
												},
												{
													"type": "object"
												}
											]
										}
									}
								},
								"example": {
									"error": "Invalid date format",
									"details": "event_starts_after must be in ISO 8601 format with timezone offset"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Invalid API key",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										}
									}
								},
								"example": {
									"message": "Invalid API key"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"error": {
											"type": "string"
										}
									}
								},
								"example": {
									"error": "Internal server error occurred"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"Event": {
				"type": "object",
				"required": ["id"],
				"properties": {
					"id": {
						"type": "string",
						"description": "The unique identifier of the event"
					},
					"clientName": {
						"type": "string",
						"description": "Name of the client"
					},
					"clientEmail": {
						"type": "string",
						"description": "Email of the client"
					},
					"clientPhone": {
						"type": "string",
						"description": "Phone number of the client"
					},
					"siteContactName": {
						"type": "string",
						"description": "Name of the site contact"
					},
					"siteContactPhone": {
						"type": "string",
						"description": "Phone number of the site contact"
					},
					"eventDescription": {
						"type": "string",
						"description": "Description of the event"
					},
					"eventAddress": {
						"type": "string",
						"description": "Address where the event will take place"
					},
					"additionalLocationInfo": {
						"type": "string",
						"description": "Additional information about the location"
					},
					"specialNotes": {
						"type": "string",
						"description": "Special notes about the event"
					},
					"parkingLoadingInfo": {
						"type": "string",
						"description": "Information about parking and loading"
					},
					"serviceStartTime": {
						"type": "string",
						"format": "date-time",
						"description": "When the service starts"
					},
					"serviceEndTime": {
						"type": "string",
						"format": "date-time",
						"description": "When the service ends"
					},
					"staffNumber": {
						"type": "integer",
						"description": "Number of staff required"
					},
					"resourceNumber": {
						"type": "integer",
						"description": "Number of resources required"
					},
					"companyId": {
						"type": "string",
						"description": "ID of the company"
					},
					"locationId": {
						"type": "string",
						"description": "ID of the location"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time",
						"description": "When the event was created"
					},
					"updatedAt": {
						"type": "string",
						"format": "date-time",
						"description": "When the event was last updated"
					},
					"deletedAt": {
						"type": "string",
						"format": "date-time",
						"description": "When the event was deleted, if applicable"
					},
					"staffDressCode": {
						"type": "string",
						"description": "Dress code for staff"
					},
					"customData": {
						"type": "object",
						"description": "Custom data associated with the event"
					},
					"multiDay": {
						"type": "boolean",
						"description": "Whether the event spans multiple days"
					},
					"bookingId": {
						"type": "string",
						"description": "ID of the associated booking"
					},
					"guestCount": {
						"type": "integer",
						"description": "Number of guests expected"
					},
					"loadingTime": {
						"type": "integer",
						"description": "Time required for loading in minutes"
					},
					"setupTime": {
						"type": "integer",
						"description": "Time required for setup in minutes"
					},
					"breakdownTime": {
						"type": "integer",
						"description": "Time required for breakdown in minutes"
					},
					"unloadingTime": {
						"type": "integer",
						"description": "Time required for unloading in minutes"
					},
					"shiftStartTime": {
						"type": "string",
						"format": "date-time",
						"description": "When the shift starts"
					},
					"shiftEndTime": {
						"type": "string",
						"format": "date-time",
						"description": "When the shift ends"
					},
					"specialPrepTime": {
						"type": "integer",
						"description": "Special preparation time required in minutes"
					},
					"travelToEventTime": {
						"type": "integer",
						"description": "Travel time to event in minutes"
					},
					"travelFromEventTime": {
						"type": "integer",
						"description": "Travel time from event in minutes"
					},
					"tipJarAllowed": {
						"type": "boolean",
						"description": "Whether tip jar is allowed"
					},
					"outdoors": {
						"type": "boolean",
						"description": "Whether the event is outdoors"
					},
					"location": {
						"$ref": "#/components/schemas/Location"
					},
					"resources": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Resource"
						}
					},
					"staff": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Staff"
						}
					},
					"addons": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Addon"
						}
					},
					"booking": {
						"$ref": "#/components/schemas/Booking"
					},
					"eventBriefId": {
						"type": "string",
						"description": "ID of the associated event brief"
					},
					"eventBriefUrl": {
						"type": "string",
						"description": "URL to access the event brief"
					}
				}
			},
			"Location": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"name": {
						"type": "string"
					},
					"address": {
						"type": "string"
					}
				}
			},
			"Resource": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"type": {
						"type": "string"
					},
					"name": {
						"type": "string"
					}
				}
			},
			"Staff": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"name": {
						"type": "string"
					},
					"role": {
						"type": "string"
					}
				}
			},
			"Addon": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"name": {
						"type": "string"
					},
					"quantity": {
						"type": "integer"
					}
				}
			},
			"Booking": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"status": {
						"type": "string"
					}
				}
			},
			"Error": {
				"type": "object",
				"required": ["message"],
				"properties": {
					"message": {
						"type": "string",
						"description": "A human-readable error message"
					}
				},
				"example": {
					"message": "An error occurred"
				}
			}
		},
		"securitySchemes": {
			"apiKeyAuth": {
				"type": "apiKey",
				"in": "header",
				"name": "x-api-key"
			}
		}
	}
}
