{
  "openapi": "3.0.1",
  "info": {
    "title": "Flashquotes API",
    "description": "API for accessing event, form, and invoice data from Flashquotes",
    "version": "1.0.0",
    "contact": {
      "name": "Flashquotes Support",
      "email": "support@flashquotes.com"
    }
  },
  "servers": [
    {
      "url": "https://app.flashquotes.com/api",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/event/getEventData/{event_id}": {
      "get": {
        "summary": "Get Event Details",
        "description": "Retrieve comprehensive details for a specific event",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the event",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "404": {
            "description": "Event not found"
          }
        }
      }
    },
    "/event/get-events": {
      "get": {
        "summary": "List Events",
        "description": "Retrieve a list of events within a specified date range (maximum 7 days)",
        "parameters": [
          {
            "name": "event_starts_after",
            "in": "query",
            "required": true,
            "description": "ISO 8601 date-time with timezone (e.g., 2024-01-01T00:00:00-05:00)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "event_starts_before",
            "in": "query",
            "required": true,
            "description": "ISO 8601 date-time with timezone (e.g., 2024-01-08T00:00:00-05:00)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Events retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "event": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/EventSummary"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date range (must be 7 days or less) or invalid date format"
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/form_response/{id}": {
      "get": {
        "summary": "Get Form Response",
        "description": "Retrieve form submission data for a specific response",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The form response identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form response retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "404": {
            "description": "Form response not found"
          }
        }
      }
    },
    "/invoice/{booking_id}": {
      "get": {
        "summary": "List Invoices",
        "description": "Retrieve all invoices for a specific booking",
        "parameters": [
          {
            "name": "booking_id",
            "in": "path",
            "required": true,
            "description": "The booking identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoices retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "404": {
            "description": "Booking not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "location": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "zip": {
                "type": "string"
              }
            }
          },
          "resources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer"
                }
              }
            }
          },
          "staff": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                }
              }
            }
          },
          "addons": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer"
                },
                "price": {
                  "type": "number"
                }
              }
            }
          },
          "booking": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "entityToInvoice": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              }
            }
          },
          "eventBriefUrl": {
            "type": "string",
            "description": "URL to access the event brief"
          }
        }
      },
      "EventSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "location": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "FormResponse": {
        "type": "object",
        "description": "Flattened object with question titles as keys and answers as values",
        "additionalProperties": {
          "type": "string"
        },
        "example": {
          "Event Date": "2024-03-15",
          "Number of Guests": "150",
          "Service Type": "Full Bar Service",
          "Event Location": "123 Main St, City, State"
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "invoiceNumber": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["draft", "open", "paid", "overdue", "partially_paid"]
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          },
          "totalAmount": {
            "type": "number"
          },
          "amountDue": {
            "type": "number"
          },
          "amountPaid": {
            "type": "number"
          },
          "invoiceUrl": {
            "type": "string",
            "description": "Encrypted URL to view the invoice"
          },
          "bookingPaymentStatus": {
            "type": "string",
            "description": "Overall payment status across all invoices for this booking"
          }
        }
      }
    }
  }
}