{
	"openapi": "3.0.1",
	"info": {
		"title": "Flashquotes API",
		"description": "API for managing invoices in Flashquotes",
		"license": {
			"name": "MIT"
		},
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "https://app.flashquotes.com/"
		}
	],
	"security": [
		{
			"apiKeyAuth": []
		}
	],
	"paths": {
		"/api/invoice/{booking_id}": {
			"get": {
				"description": "Returns all invoices associated with a booking",
				"parameters": [
					{
						"name": "booking_id",
						"in": "path",
						"description": "ID of the booking to retrieve invoices for",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "List of invoices for the booking",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"required": ["bookingId", "invoiceIds", "invoiceUrls"],
									"properties": {
										"bookingId": {
											"type": "string",
											"description": "The ID of the booking"
										},
										"invoiceIds": {
											"type": "array",
											"items": {
												"type": "string"
											},
											"description": "Array of invoice IDs associated with the booking"
										},
										"invoiceUrls": {
											"type": "array",
											"items": {
												"type": "string"
											},
											"description": "Array of encrypted invoice URLs"
										}
									}
								},
								"example": {
									"bookingId": "book_123",
									"invoiceIds": ["inv_456", "inv_789"],
									"invoiceUrls": [
										"https://app.flashquotes.com/invoices/encrypted/abc123",
										"https://app.flashquotes.com/invoices/encrypted/def456"
									]
								}
							}
						}
					},
					"404": {
						"description": "Booking not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"example": {
									"message": "Booking not found"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Invalid API key",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										}
									}
								},
								"example": {
									"message": "Invalid API key"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"Invoice": {
				"type": "object",
				"required": ["id", "invoiceNumber", "status"],
				"properties": {
					"id": {
						"type": "string",
						"description": "The unique identifier of the invoice"
					},
					"invoiceNumber": {
						"type": "string",
						"description": "The human-readable invoice number"
					},
					"dueDate": {
						"type": "string",
						"format": "date-time",
						"description": "When the invoice payment is due"
					},
					"issuedDate": {
						"type": "string",
						"format": "date-time",
						"description": "When the invoice was issued"
					},
					"paidDate": {
						"type": "string",
						"format": "date-time",
						"description": "When the invoice was paid, if applicable"
					},
					"description": {
						"type": "string",
						"description": "Description of the invoice"
					},
					"status": {
						"type": "string",
						"enum": ["DRAFT", "SENT", "PAID", "VOID"],
						"description": "Current status of the invoice"
					},
					"poNumber": {
						"type": "string",
						"description": "Purchase order number if provided"
					},
					"notes": {
						"type": "string",
						"description": "Additional notes on the invoice"
					},
					"taxable": {
						"type": "boolean",
						"description": "Whether the invoice is taxable"
					},
					"taxRate": {
						"$ref": "#/components/schemas/TaxRate"
					},
					"lineItems": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/InvoiceLineItem"
						}
					}
				}
			},
			"TaxRate": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"name": {
						"type": "string"
					},
					"rate": {
						"type": "number",
						"format": "float"
					}
				}
			},
			"InvoiceLineItem": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"name": {
						"type": "string"
					},
					"description": {
						"type": "string"
					},
					"quantity": {
						"type": "integer"
					},
					"unitPrice": {
						"type": "integer",
						"description": "Price in cents"
					},
					"taxable": {
						"type": "boolean"
					},
					"position": {
						"type": "integer"
					},
					"type": {
						"type": "string",
						"enum": ["SERVICE", "ADDON", "GRATUITY"]
					}
				}
			},
			"Error": {
				"type": "object",
				"required": ["message"],
				"properties": {
					"message": {
						"type": "string",
						"description": "A human-readable error message"
					}
				},
				"example": {
					"message": "An error occurred"
				}
			}
		},
		"securitySchemes": {
			"apiKeyAuth": {
				"type": "apiKey",
				"in": "header",
				"name": "x-api-key"
			}
		}
	}
}
